/* code {
    overflow-x: auto;
    padding: 1rem 0;
}

code [data-line] {
    padding: 0 1rem;
}

code[data-theme*=" "],
code[data-theme*=" "] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}
 
@media (prefers-color-scheme: dark) {
  code[data-theme*=" "],
  code[data-theme*=" "] span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }
} */

/* this is to hide the katex-html class which already has the aria-hidden set to true */
[aria-hidden="true"] { 
  visibility: hidden; 
  position: absolute;
} 

.footnotes[data-footnotes="true"]{
  background-color: blue;
}

.footnotes ol li {
  all: unset
}

