/* code {
    overflow-x: auto;
    padding: 1rem 0;
}

code [data-line] {
    padding: 0 1rem;
}

code[data-theme*=" "],
code[data-theme*=" "] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}
 
@media (prefers-color-scheme: dark) {
  code[data-theme*=" "],
  code[data-theme*=" "] span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }
} */

/* this is to hide the katex-html class which already has the aria-hidden set to true */
/* [aria-hidden="true"] { 
  visibility: hidden; 
  position: absolute;
}  */

.footnotes[data-footnotes="true"] {
  @apply mt-8 break-words
  /* background-color: blue; */
}

.footnotes h2 {
  @apply font-semibold mb-4
}

.footnotes li {
  @apply mt-0
}

.blog p, .blog ul, .blog ol, .blog li{
  @apply text-xl
}

.blog {
  @apply font-serif antialiased text-[var(--text-color)];
  /* @apply text-[#111111]; */
  counter-reset: sidenote-counter; /* for sidenotes */
}

.blog h5,
.blog h4,
.blog h3,
.blog h2,
.blog h1 {
  @apply font-normal;
}

.blog a {
  @apply underline underline-offset-2;
}

.blog blockquote {
  @apply not-italic
}