
/* ! Code Block Styles ================================================ */
code {
  @apply font-mono text-sm
}

/* code [data-line] {
    padding: 0 1rem;
} */

/* ! code not a child of pre AKA inline */
:not(pre) > code {
  @apply bg-zinc-700/50 text-[#e7e7e7] rounded-md px-1 py-1;
}

/* ! pre */
pre {
  @apply p-4 border border-zinc-700 rounded-2xl;
}

/* ! End Code Block Styles ================================================ */

/* ? this is to hide the katex-html class which already has the aria-hidden set to true */
/* .katex-html[aria-hidden="true"] { 
  visibility: hidden; 
  position: absolute;
}  */

.footnotes[data-footnotes="true"] {
  @apply mt-8 break-words
  /* background-color: blue; */
}

.footnotes h2 {
  @apply font-semibold mb-4
}

.footnotes li {
  @apply mt-0
}

.blog p, .blog ul, .blog ol, .blog li{
  @apply text-xl leading-normal text-[var(--text-body-color)];
}

.blog {
  @apply font-serif antialiased text-[var(--text-body-color)];
  /* @apply text-[#111111]; */
  counter-reset: sidenote-counter; /* for sidenotes */
}

.blog h5,
.blog h4,
.blog h3,
.blog h2,
.blog h1 {
  @apply font-medium
}

.blog h1 {
  @apply text-5xl
}

.blog a {
  @apply underline decoration-1 underline-offset-2 hover:text-[var(--hover-text-color)]
}

.blog blockquote {
  @apply not-italic
}