code {
  @apply overflow-x-auto bg-transparent font-mono text-sm
}

code [data-line] {
    padding: 0 1rem;
}

/* code not a child of pre */
:not(pre) > code {
  @apply bg-zinc-700/50 text-[#e7e7e7] rounded-md px-1 py-1;
}

pre {
  @apply font-mono text-sm p-4 border border-zinc-700 rounded-2xl;
}

code[data-theme*=" "],
code[data-theme*=" "] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}
 
@media (prefers-color-scheme: dark) {
  code[data-theme*=" "],
  code[data-theme*=" "] span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }
}

/* this is to hide the katex-html class which already has the aria-hidden set to true */
/* [aria-hidden="true"] { 
  visibility: hidden; 
  position: absolute;
}  */

.footnotes[data-footnotes="true"] {
  @apply mt-8 break-words
  /* background-color: blue; */
}

.footnotes h2 {
  @apply font-semibold mb-4
}

.footnotes li {
  @apply mt-0
}

.blog p, .blog ul, .blog ol, .blog li{
  @apply text-xl leading-normal text-[#c7c7c7];
}

.blog {
  @apply font-serif antialiased text-[#e7e7e7];
  /* @apply text-[#111111]; */
  counter-reset: sidenote-counter; /* for sidenotes */
}

.blog h5,
.blog h4,
.blog h3,
.blog h2,
.blog h1 {
  @apply font-medium
}

.blog h1 {
  @apply text-5xl
}

.blog a {
  @apply underline decoration-1 underline-offset-2 hover:text-[var(--hover-text-color)]
}

.blog blockquote {
  @apply not-italic
}