@tailwind base;
@tailwind components;
@tailwind utilities;

.rotate-x-50 {
    transform: rotateX(50deg);
}

body {
    /* --background-color: #0B2545; */
    /* --background-color: #13315C; */
    --background-color: #f3f3f3;
    --text-color: rgb(16, 16, 16);
    --hover-color: #e2e2e247;

    --hero-background-color: #f3f3f3;
    --hero-text-color: rgb(19, 19, 19);
    --hero-hover-color: rgba(208, 208, 208, 0.123);

    /* --wave-color-1: #ff006e;
    --wave-color-2: #3a86ff; */
    --wave-color-2: #ff006e;
    --wave-color-1: #3a86ff;

    --cursor-stroke: #ff0000;
}

.background {
    background-color: var(--background-color);
    color: var(--text-color);
}

.stroke {
    -webkit-text-stroke: 3px black;
}

.test {
    transform-origin: top;
}

/* ! For homepage cursor */
.cursor {
	display: none;
}

@media (any-pointer:fine) {
	.cursor {
		position: fixed;
		top: 0;
		left: 0;
		display: block;
		pointer-events: none;
		z-index: 10000;
	}
	.cursor__inner {
		fill: none;
		stroke: var(--cursor-stroke);
		stroke-width: 1px;
	}
	.no-js .cursor {
		display: none;
	}
}