@tailwind base;
@tailwind components;
@tailwind utilities;

.rotate-x-50 {
    transform: rotateX(50deg);
}

body {
    /* --background-color: #0B2545; */
    /* --background-color: #13315C; */
    --background-color: #ffffff;
    --text-color: rgb(16, 16, 16);
    --hover-color: #e2e2e247;

    --hero-background-color: #ffffff;
    --hero-text-color: #000000;
    --hero-hover-color: rgba(208, 208, 208, 0.123);

    --wave-color-1: #ff006e;
    --wave-color-2: #3a86ff;
}

.background {
    background-color: var(--background-color);
    color: var(--text-color);
}


.stroke {
    -webkit-text-stroke: 3px black;
}

.custom-grid {
    --grid-gutter-width: 20px;
    --grid-column-width-base: 90;
    --window-width: calc(100vw);
    --grid-column-count: 20;
    --grid-column-width: calc((var(--window-width) - calc(var(--grid-gutter-width) * 2)) / var(--grid-column-count));
    --line-color: rgba(0, 0, 0, 0.15);
}

@media only screen and (max-width: 1300px) {
    .custom-grid {
        --grid-column-count: 16;
    }
}

@media only screen and (max-width: 1120px) {
    .custom-grid {
        --grid-column-count: 14;
    }
}

@media only screen and (max-width: 940px) {
    .custom-grid {
        --grid-column-count: 12;
    }
}

@media only screen and (max-width: 760px) {
    .custom-grid {
        --grid-column-count: 10;
    }
}

.custom-grid {
    pointer-events: none;
    position: absolute;
    left: -.5px; 
    overflow: hidden;
    width: 100%;
    background-size: 5px var(--grid-column-width);
    background-image: none;
    background-color: transparent;
}

.vertical-grid {
    display: grid;
    grid-template-columns: repeat(calc(var(--grid-column-count) + 0),var(--grid-column-width));
    height: 100%;   
    pointer-events: none;
    padding: 0 var(--grid-gutter-width);
}

.vertical-grid > div {
    width: 1px;
    height: 100%;
    background: linear-gradient(180deg,var(--line-color),var(--line-color) 60%,transparent 0,transparent);
    background-size: 1px 5px;
    position: relative;
}

/* last child div of .vertical-grid */
.vertical-grid > div:last-child {
    position: absolute;
    right: var(--grid-gutter-width);
    top: 0;
}

.horizontal-grid {
    display: flex;
    flex-direction: column;
    gap: calc(var(--grid-column-width) - 1px);
}
