@tailwind base;
@tailwind components;
@tailwind utilities;

.rotate-x-50 {
    transform: rotateX(50deg);
}

body {
    /* --background-color: #0B2545; */
    /* --background-color: #13315C; */
    --background-color: #ffffff;
    --text-color: rgb(16, 16, 16);
    --hover-bg-color: rgb(0, 0, 0, 0); 
    --hover-text-color: #0043e0;

    --hero-background-color: #002d49;
    --hero-text-color: #f3f3f3;
    --hero-hover-bg-color: var(--hover-bg-color);
    --hero-hover-text-color: var(--hover-text-color);

    --wave-color-1: #ff006e;
    --wave-color-2: #3a86ff;
    /* --wave-color-2: #e9ff70; */
    /* --wave-color-1: #ff006e; */

    --highlight-color: #3a86ff;
    --cursor-stroke: var(--highlight-color);

    --transition-bg-color: var(--highlight-color);
}

.background {
    background-color: var(--background-color);
    color: var(--text-color);
}

.stroke {
    -webkit-text-stroke: 3px black;
}

.cut-in-half {
    clip-path: inset(0 0 40% 0); /* Top, right, bottom, left */
}

.bg-radial {
    background: radial-gradient(circle, white, transparent);
}

.highlight {
    color: var(--highlight-color);
}

/* ! For homepage cursor */
.cursor {
	display: none;
}

@media (any-pointer:fine) {
	.cursor {
		position: fixed;
		top: 0;
		left: 0;
		display: block;
		pointer-events: none;
		z-index: 10000;
	}
	.cursor__inner {
		fill: none;
		stroke: var(--cursor-stroke);
		stroke-width: 1px;
	}
	.no-js .cursor {
		display: none;
	}
}