
.responsive-grid {
    --grid-gutter-width: 20px;
    --grid-column-width-base: 90;
    --window-width: calc(100vw);
    --grid-column-count: 20;
    --grid-column-width: calc((var(--window-width) - calc(var(--grid-gutter-width) * 2)) / var(--grid-column-count));
    --line-color: rgba(0, 0, 0, 0.15);
}

@media only screen and (max-width: 1300px) {
    .responsive-grid {
        --grid-column-count: 16;
    }
}

@media only screen and (max-width: 1120px) {
    .responsive-grid {
        --grid-column-count: 14;
    }
}

@media only screen and (max-width: 940px) {
    .responsive-grid {
        --grid-column-count: 12;
    }
}

@media only screen and (max-width: 760px) {
    .responsive-grid {
        --grid-column-count: 10;
    }
}

@media only screen and (max-width: 580px) {
    .responsive-grid {
        --grid-column-count: 8;
    }
}

@media only screen and (max-width: 400px) {
    .responsive-grid {
        --grid-column-count: 6;
    }
}

.responsive-grid {
    pointer-events: none;
    position: absolute;
    left: -.5px; 
    overflow: hidden;
    width: 100%;
    background-size: 5px var(--grid-column-width);
    background-image: none;
    background-color: transparent;
}

.vertical-grid {
    display: grid;
    grid-template-columns: repeat(calc(var(--grid-column-count) + 0),var(--grid-column-width));
    height: 100%;   
    pointer-events: none;
    padding: 0 var(--grid-gutter-width);
}

.vertical-grid > div {
    width: 1px;
    height: 100%;
    background: linear-gradient(180deg,var(--line-color),var(--line-color) 60%,transparent 0,transparent);
    background-size: 1px 5px;
    position: relative;
}

/* last child div of .vertical-grid */
.vertical-grid > div:last-child {
    position: absolute;
    right: var(--grid-gutter-width);
    top: 0;
}

.horizontal-grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: calc(var(--grid-column-width) - 1px);
}

.horizontal-grid > div {
    flex-shrink: 0;
    height: 1px;
    width: 100%;
    background: linear-gradient(90deg,var(--line-color),var(--line-color) 60%,transparent 0,transparent);
    background-size: 5px 1px;
    position: relative;
}